<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>507224229545-i7s79fuoq9rnr5fbf6fo2q4ebgmaqosv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507224229545-i7s79fuoq9rnr5fbf6fo2q4ebgmaqosv</string>
	<key>API_KEY</key>
	<string>AIzaSyBqF3kma69W0cKvPAoJ-LK9OqQkT_M48mY</string>
	<key>GCM_SENDER_ID</key>
	<string>507224229545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kelvin.FirebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-login-3cf87</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-3cf87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:507224229545:ios:f31ec5cc7dd9ede4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-login-3cf87.firebaseio.com</string>
</dict>
</plist>